<a href="https://colab.research.google.com/github/ksh001/ksh0011/blob/main/py_03_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#pandas 예제 (값의 sum, count부터 var, std까지)

##pandas 선언

In [9]:
import pandas as pd

df = pd.DataFrame(
{"a" : [4 ,5, 6, 4, 46, 77, 2],
"b" : [7, 8, 9, 2, 1, 0, 0 ],
"c" : [10, 11, 12, 3, 3, 22, 0]},
index = ['A', 'B', 'C', 'D', 'E', 'F', 'G'])

df2 = pd.DataFrame(
{"a" : [4 ,5, 6, 4, 46, 77, 2],
"b" : [7, 8, 9, 2, 1, 0, 0 ],
"c" : [10, 11, 12, 3, 3 ,22, 0]},
index = pd.MultiIndex.from_tuples(
[('d',1),('d',2),('e',1),('e',2),('e',3),('f', 1),('g',1)],
names=['n','v']))

In [10]:
df

    a  b   c
A   4  7  10
B   5  8  11
C   6  9  12
D   4  2   3
E  46  1   3
F  77  0  22
G   2  0   0

In [11]:
df2

      a  b   c
n v
d 1   4  7  10
  2   5  8  11
e 1   6  9  12
  2   4  2   3
  3  46  1   3
f 1  77  0  22
g 1   2  0   0

In [12]:
df['a'].value_counts() #'a'열의 값 들의 개수를 셈

4     2
77    1
6     1
5     1
46    1
2     1
Name: a, dtype: int64

In [13]:
len(df) #행의 개수 셈

7

In [16]:
df['c'].unique() #행(column)의 값(겹치지 않는)

array([10, 11, 12,  3, 22,  0])

In [20]:
df.describe() # 분석/Basic descriptive statistics for each column (or GroupBy)

               a         b          c
count   7.000000  7.000000   7.000000
mean   20.571429  3.857143   8.714286
std    29.381724  3.976119   7.476949
min     2.000000  0.000000   0.000000
25%     4.000000  0.500000   3.000000
50%     5.000000  2.000000  10.000000
75%    26.000000  7.500000  11.500000
max    77.000000  9.000000  22.000000

In [26]:
sum(df.loc['A'])

21

In [27]:
sum(df.a)

144

In [41]:
df.count()

a    7
b    7
c    7
dtype: int64

In [42]:
df.a.count()

7

In [43]:
df.loc['A'].count()

3

In [44]:
df.median() #중간값 : 평균값이 아니라 수 중 가장 중간에 있는 값을 보여줌

a     5.0
b     2.0
c    10.0
dtype: float64

In [45]:
df.a.median()

5.0

In [48]:
df.loc['E'].median()

3.0

In [49]:
df

    a  b   c
A   4  7  10
B   5  8  11
C   6  9  12
D   4  2   3
E  46  1   3
F  77  0  22
G   2  0   0

##df.quantile([0.75, 0.25])
    누적 백분율 : 각 값의 제일 작은 값과 제일 큰 값을 기준으로 새로운 백분율을 세운다.
      괄호 내의 비율만큼을 차지하는 값을 보여줌

In [70]:
df.quantile([0.75, 0.5, 0.25])

         a    b     c
0.75  26.0  7.5  11.5
0.50   5.0  2.0  10.0
0.25   4.0  0.5   3.0

In [60]:
df.loc['A'].quantile([1.0, 0.8, 0.75, 0.5, 0.0])

1.00    10.0
0.80     8.8
0.75     8.5
0.50     7.0
0.00     4.0
Name: A, dtype: float64

In [63]:
min(df)

'a'

In [64]:
min(df.loc['A'])

4

In [65]:
max(df.c)

22

##평균 df.mean()

In [68]:
df.mean()

a    20.571429
b     3.857143
c     8.714286
dtype: float64

In [69]:
df.loc['A'].mean()

7.0

## 분산 df.var() / 표준편자 df.std()
    분산 : 변량이 평균으로부터 떨어져 있는 정도를 나타내는 값
    표준편차 : 통계집단의 분배정도를 나타내는 도수특성값
      평균은 전체 값을 기준으로

In [71]:
df.var()

a    863.285714
b     15.809524
c     55.904762
dtype: float64

In [75]:
df.loc['A'].var()

9.0

In [76]:
df.a.var()

863.2857142857142

In [77]:
df.std()

a    29.381724
b     3.976119
c     7.476949
dtype: float64

In [81]:
#apply : 어떻게 쓰는지 알아보기

NameError: ignored